
ProyectoFinal/.vs/ProyectoFinal/v15/.suo
ProyectoFinal/.vs/ProyectoFinal/v15/Browse.VC.db
ProyectoFinal/.vs/ProyectoFinal/v15/ipch/AutoPCH/d9c846cc18438c6/MAIN.ipch
*.db
*.opendb
*.db
ProyectoFinal/.vs/ProyectoFinal/v15/.suo
.vs
